.page {
  position: relative;
  background-color: #f8f8f8;
  height: 100vh;

  view {
    box-sizing: border-box;
  }
}

.page-index {
  padding-top: 30px;

  .question-step {
    margin: 0 auto;
    margin-top: 80px;
    font-size: 0;
    text-align: center;
  }

  .btn-start {
    margin-top: 100px;
    width: 40%;
  }

  .question-info {
    margin-top: 60px;
  }
}

.countdown {
  text-align: right;
  margin: 0.85rem 1.0rem;
  font-size: 0.7rem;
}

.total-countdown {
  text-align: center;
  margin: 0.85rem 1.0rem;
}

.like-button {
  width: 10%;
  background-color: #f8f8f8;
  border-style: none;
  margin-top: 5rpx;
  margin-right: 55rpx;
}
