.page {
  position: relative;
  background-color: #f8f8f8;

  view {
    box-sizing: border-box;
  }
}

.page-index {
  padding-top: 30px;
  padding-bottom: 100px;

  .question-step {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 0;
    text-align: center;
  }

  .btn-start {
    margin-top: 50px;
    width: 40%;
  }
}

.countdown {
  text-align: right;
  margin: 0.85rem 1.0rem;
  font-size: 0.7rem;
}
