.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.list_view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 85%;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  padding: 10px 0;

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 90%;
    height: 90px;

    .list_title {
      text-align: center;
      color: #333;
      font-size: 32px;
    }

    .list_content {
      text-align: right;
      color: #7f7f7f;
      font-size: 28px;
    }
  }
}

.page {
  position: relative;
  background-color: #f8f8f8;
  height: 100vh;

  view {
    box-sizing: border-box;
  }
}

.page-index {
  padding-top: 3px;

  .avatar {
      margin: 0 auto;
      margin-bottom: 25px;
  }
}
